*{margin: 0;padding: 0;}
li{list-style-type: none;}/*让圆点没有样式*/
a{text-decoration: none}/*去掉a标签的下划线*/

.content{
    width: 800px;
    height: 534px;
    margin: 0 auto;
    position: relative;/*相对定位是必要的，否则以下工作将无法开展*/
    overflow: hidden;/*隐藏多余的部分，只显示需要显示的图片内容部分*/
}
.photo{
    position: absolute;/*必须写上这个绝对定位，否则下面的左边箭头会不显示*/
    left: 0;
    width: 4800px;/*所有图片的总和*/
    height: 534px;
}
.photo a{
  float: left;/*图片需要左浮动，否则将无法滚动*/
}
.point{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
}
/*小圆点*/
.point li{
    float: left;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    background: white;
}
/*圆点需要显示的特定颜色*/
.point .active{
    background: orange;
}

.btn a{
    position: absolute;
    top: 50%;
    margin-top: -100px;
    font-size: 100px;
}
.btn .right{
    position: absolute;
    right: 0;
}